{% extends "social/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'loginProviders' %}

{% set content %}

    <table id="fields" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Handle"|t }}</th>
                <th scope="col">{{ "Login Provider Status"|t }}</th>

                {% if craft.config.get('advancedMode', 'social') %}
                    <th scope="col">{{ "Scope"|t }}</th>
                    <th scope="col">{{ "Authorization Options"|t }}</th>
                {% endif %}

                <th scope="col">{{ "OAuth Provider Settings"|t }}</th>
            </tr>
        </thead>

        <tbody>
            {% for loginProvider in loginProviders %}
                {% set oauthProvider = loginProvider.getOauthProvider() %}
                <tr>
                    <td>
                        <div class="provider">
                            <div class="thumb">
                                <img src="{{ loginProvider.getIconUrl() }}" width="32" height="32" />
                            </div>
                            <div class="label">
                                {% if craft.config.get('advancedMode', 'social') %}
                                    <a href="{{ url('settings/plugins/social/settings/loginproviders/'~loginProvider.handle) }}">{{ loginProvider.name }}</a>
                                {% else %}
                                    {{ loginProvider.name }}
                                {% endif %}
                            </div>
                        </div>
                    </td>

                    <td class="light">{{ loginProvider.handle }}</td>

                    <td>
                        <form method="post" accept-charset="UTF-8">

                            <input type="hidden" name="loginProvider" value="{{ loginProvider.handle }}">

                            {{ getCsrfInput() }}

                            {% if loginProvider.isEnabled %}
                                <span class="status on"></span> {{ "Enabled"|t }} 
                                <input type="button" value="{{ 'Disable'|t }}" class="btn small formsubmit" data-action="social/loginProviders/disableLoginProvider">
                            {% else %}
                                <span class="status"></span> {{ "Disabled"|t }} 
                                <input type="button" value="{{ 'Enable'|t }}" class="btn small formsubmit" data-action="social/loginProviders/enableLoginProvider">
                            {% endif %}
                        </form>

                    </td>

                    {% if craft.config.get('advancedMode', 'social') %}
                        <td class="light">{{ "{count} permission(s)"|t({ count: loginProvider.getScope()|length }) }}</td>
                        <td class="light">{{ "{count} authorization option(s)"|t({ count: loginProvider.getAuthorizationOptions()|length }) }}</td>
                    {% endif %}

                    <td class="thin"><a href="{{ url('oauth/providers/'~loginProvider.handle) }}" title="{{ '{provider} OAuth Settings'|t({ provider: loginProvider.name }) }}" data-icon="settings"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endset %}
