{% extends "social/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'settings' %}

{% set content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut="">

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="plugins/savePluginSettings">
        <input type="hidden" name="pluginClass" value="Social">
        <input type="hidden" name="redirect" value="settings/plugins/social/settings/settings">

        {{ forms.lightswitchField({
            first: true,
            label: 'Enable Social Login'|t,
            instructions: "When disabled, users will not be able to social login & register."|t,
            name: 'settings[enableSocialLogin]',
            on:   settings.enableSocialLogin,
            toggle: 'enable-sociallogin'
        }) }}

        <div id="enable-sociallogin"{% if not settings.enableSocialLogin %} class="hidden"{% endif %}>

            {{ forms.lightswitchField({
                label: 'Enable Social Registration'|t,
                instructions: "When disabled, users will not able to register with a social service, but will still be able to social login to an existing account."|t,
                name: 'settings[enableSocialRegistration]',
                on:   settings.enableSocialRegistration,
                toggle: 'enable-socialregistration'
            }) }}

            <div id="enable-socialregistration"{% if not settings.enableSocialRegistration %} class="hidden"{% endif %}>

                <div id="defaultGroup">
                    {% set groups = [{ label: "None"|t, value: '' }] %}
                    {% for group in craft.userGroups.getAllGroups() %}
                        {% set groups = groups|merge([{ label: group.name, value: group.id }]) %}
                    {% endfor %}

                    {{ forms.selectField({
                        label: "Default User Group"|t,
                        instructions: "Choose a user group that users will be added to when registering with a social service."|t,
                        name: 'settings[defaultGroup]',
                        options: groups,
                        value: (settings.defaultGroup is defined ? settings.defaultGroup : null)
                    }) }}
                </div>

                {{ forms.lightswitchField({
                    label: 'Auto-Fill Profile'|t,
                    instructions: "Automatically fills user fields when a user registers, based on `userMapping` and `userContentMapping` config variables."|t,
                    name: 'settings[autoFillProfile]',
                    on:   settings.autoFillProfile
                }) }}

            </div>

        </div>

        {{ forms.lightswitchField({
            label: 'Show CP Section'|t,
            instructions: "Toggles the visibility of the Social Login menu item in the Control Panel sidebar."|t,
            name: 'settings[showCpSection]',
            on:   settings.showCpSection
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit force" value="Save">
        </div>
    </form>
{#
    <hr>

    <p class="light">
        Craft users are linked to <a href="{{ url('social/accounts') }}">{{ totalAccounts }} social accounts</a>.
    </p>
 #}
{% endset %}
