{% extends "_layouts/cp" %}

{% includeCssResource "social/css/social.css" %}

{% set title = "Social Login"|t %}

{% if CraftEdition == CraftPro %}

    {% set crumbs = [
        { label: "Settings"|t, url: url('settings') },
        { label: "Plugins"|t, url: url('settings/plugins') },
    ] %}

    {% set tabs = {
        loginProviders: { label: "Login Providers"|t, url: url('settings/plugins/social/settings/loginproviders') },
        settings: { label: "Settings"|t, url: url('settings/plugins/social/settings/settings') },
    } %}

{% else %}

    {% set content %}

        <h2>{{ "Craft Pro required"|t }}</h2>
        <p>{{ 'Social Login plugin requires {link} unlimited user accounts feature.'|t({link:'<a href="http://buildwithcraft.com/pricing">Craft Pro</a>'})|raw }}</p>

    {% endset %}

{% endif %}
